:root {
  --ff-Fira: "Fira Sans", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --bg-main: #f8f9fb;
  --bg-second: #f1f2fb;
  --bg-third: #fff;

  --text-main: #26274b;
  --text-second: #f1f2fb;

  --blue: #474bff;
  --hover-blue: #3236fd;

  --pd-nav: 4%;
  --pd-hero: 25rem;
  --pd-main: 30rem;
  --pd-section: 6rem;

  --btn-radius: 3rem;
  --radius-2: 1rem;
  --radius-3: 0.5rem;
  --circle: 50%;
  --transition-1: 0.3s;
  --transition-2: 0.6s;

  --shadow-1: rgb(71 75 255 / 8%) 0px 2px 3px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-Fira);
}

* {
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-main);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  max-width: max-content;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-main);
}

h1 {
  line-height: 1.1;
}

p {
  font-size: 1.2rem;
}
.container__title {
  margin: 0 0 3rem;
}

::-webkit-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-third);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hover-blue);
  border-radius: 1.25rem;
}

::-moz-selection {
  color: var(--text-second);
  background: var(--blue);
}

::selection {
  color: var(--text-second);
  background: var(--blue);
}

.btn {
  background-color: var(--blue);
  color: var(--text-second);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  max-width: max-content;
  border-radius: var(--btn-radius);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  i {
    font-size: 1.1rem;
  }

  &:is(:hover, :focus) {
    color: var(--text-second);
    background-color: var(--hover-blue);
  }
}

.btn-2 {
  border: 2px solid var(--blue);
  color: var(--blue);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  max-width: max-content;
  border-radius: var(--btn-radius);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  i {
    font-size: 1.1rem;
  }

  &:is(:hover, :focus) {
    color: var(--text-second);
    background-color: var(--hover-blue);
  }
}

header {
  max-width: 120rem;
  padding: 2rem var(--pd-nav);
  background-color: var(--bg-main);
  box-shadow: var(--shadow-1);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      a {
        font-size: 1.2rem;
        color: var(--text-main);
        font-weight: var(--fw-700);
      }
    }

    .nav__links {
      display: flex;
      align-items: center;
      gap: 2rem;
      > ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        > li {
          > a {
            color: var(--text-main);
            transition: var(--transition-1);

            &:is(:hover, :focus) {
              color: var(--hover-blue);
            }
          }
        }
      }
    }
  }
}

main {
  max-width: 60rem;
  margin-inline: auto;
  padding: 0 1rem;
  .bradius__container {
    display: flex;
    flex-direction: column;
    padding: var(--pd-section) 0;

    .border__boxcontainer {
      border: 2px solid var(--bg-second);
      border-radius: var(--radius-2);
      padding: 2rem;
      .borderbox {
        margin-inline: auto;
        width: 50%;
        aspect-ratio: 1;
        background-color: var(--hover-blue);
      }
    }
    .input-radius {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin: 2rem 0;
      > div {
        display: flex;
        flex-direction: column;

        input {
          text-align: center;
          font-size: 2rem;
          font-weight: var(--fw-700);
          width: 6rem;
          aspect-ratio: 1;
          background: none;
          border-radius: var(--radius-2);
          border: 2px solid var(--bg-second);
        }
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: flex-end;
    }

    .radiusCode {
      width: 100%;
      border: 2px solid var(--bg-second);
      padding: 1rem;
      border-radius: var(--radius-2);
      margin-top: 2rem;
      font-size: 1.2rem;
      text-align: center;
    }
    #copyradius {
      margin-top: 2rem;
      align-self: flex-end;
    }
  }
}

footer {
  padding: 2rem 0;
  border-top: 2px solid var(--bg-second);
  max-width: 120rem;
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    * {
      font-size: 1rem;
    }

    .footer__logo {
      a {
        font-size: 1rem;
        font-weight: var(--fw-700);
        color: var(--text-main);
      }
    }

    .footer__text {
      > p {
        display: flex;
        align-items: center;

        ion-icon {
          color: red;
        }
      }
    }

    .footer__social {
      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        li {
          a {
            ion-icon {
              color: var(--blue);
              transition: var(--transition-1);
            }
            &:hover {
              ion-icon {
                color: var(--hover-blue);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    nav {
      .nav__links {
        ul {
          display: none;
        }
      }
    }
  }

  main {
    .bradius__container {
      .input-radius {
        > div {
          label {
            font-size: 0.7rem;
          }
          input {
            font-size: 1.5rem;
            width: 4rem;
          }
        }
      }

      .radiusCode {
        font-size: 1rem;
        padding-inline: 0;
      }
    }
  }

  footer {
    .footer__container {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 375px) {
  main {
    .bradius__container {
      .radiusCode {
        font-size: 0.8rem;
      }
    }
  }
}
